.footer > .container {
  display: flex;
  align-items: baseline;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg;
  color: $text-white;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-address:hover,
.footer .footer-address:focus {
  color: $btn-cl;
}
.footer .footer-contakts:hover,
.footer .footer-contakts:focus {
  color: $btn-cl;
}
.logo-studio-footer {
  color: $text-white;
  line-height: 1.2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contakts-list {
  display: block;
  padding-left: 0;
}
.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: $text-white;
  line-height: 1.14;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  margin-top: 20px;
  transition: background-color $animation, color $animation;
}
.footer-contakts-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-contakts {
  color: rgba(255, 255, 255, 0.6);
}
.post:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contakts-list:not(:last-child) {
  margin-bottom: 9px;
}
.post {
  margin-left: 0;
  margin-right: 30px;
  width: 270px;
}
.footer-contakts__item {
  padding-left: 0px;
  margin: 0px;
}
.footer-contakts__title:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  width: 206px;
  display: block;
}
.footer-social__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $text-white;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer-social__list {
  display: flex;
  justify-content: space-between;
}
.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  text-decoration: none;
  fill: $text-white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $animation, color $animation;
}
.footer-social__link:hover,
.footer-social__link:focus {
  color: $text-white;
  background-color: $btn-cl;
}
.footer-subscribtion {
  display: block;
  padding-left: 90px;
}
.footer-social__form {
  display: flex;
}

.footer-btn {
  justify-content: center;
  display: flex;
  align-items: center;
}
.user-subscribtion {
  display: flex;
}
.user-subscribtion input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 10px;
}
.subscribtion-input {
  padding: 15px 16px;
}
