.main-nav {
  display: flex;
  background: $text-white;
}
.main-nav .container {
  align-items: center;
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  .site-nav__list {
    display: flex;
    margin-left: 93px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.auts-list__link,
.auts-list__tel {
  fill: currentColor;
}
.site-nav__link {
  font-weight: 500;
  line-height: 1.14;
  color: $main-text-cl;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: $animation;

  .nav &:hover,
  .nav &:focus {
    color: $btn-cl;
  }
}
.site-nav__link-studia {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $btn-cl;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: background-color $animation, color $animation;
}
.auth-list {
  display: flex;
  margin-left: auto;
  text-align: center;
  .auts-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .auts-list__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $pargf-cl;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: background-color $animation, color $animation;
    &:hover,
    &:focus {
      color: $btn-cl;
      fill: $btn-cl;
    }
    &:hover .auts-list__icon,
    &:focus .auts-list__icon {
      fill: $btn-cl;
    }
  }

  &__tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $pargf-cl;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    display: flex;
    transition: background-color $animation, color $animation;
    .auth &:hover,
    .auth &:focus {
      color: $btn-cl;
    }
  }
}
