.our-work {
  background: $text-white;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-work .list {
  display: flex;
}
.our-team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $maim-font;
  margin-bottom: 50px;
  margin-top: 0;
}
.our-work__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.our-work__overay {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  bottom: 0;
  left: 0;
}
.our-work__title {
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 27px 0;

  color: $text-white;
}
.our-work__eksempel {
  position: relative;
  top: 0;
  bottom: 0;
}
