$main-text-cl: #212121;
$btn-cl: #2196f3;
$bg-cl: #e5e5e5;
$pargf-cl: #757575;
$dark-bg: #2f303a;
$text-white: #ffffff;
$maim-font: "Roboto", sans-serif;
$bg-cl-icon: #f5f4fa;
$icon-cl: #afb1b8;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$border-modal: rgba(33, 33, 33, 0.2);
$header-border: #ececec;
